::selection {
    background-color: #0051a8;
    color: yellow;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* height: 10000px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.pd-y {
    padding: 120px 0;
}

.section-header {
    text-align: center;
}

.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    width: 80px;
    height: 3px;
    background-color: #3498db;
    margin: 20px auto 80px;
}

.clear {
    clear: both;
}

.btn {
    font-family: sans-serif;
}

.opacity-hover {
    transition: opacity 0.3s;
}

.opacity-hover:hover {
    opacity: 0.8;
}

.ltreffect,
.tbeffect {
    position: relative;
}

.ltreffect::after,
.tbeffect::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #222;
    transition: width 0.5s linear;
    z-index: -1;
}

.ltreffect::after {
    width: 0;
    height: 100%;
    transition: width 0.5s linear;
}

.tbeffect::after {
    width: 100%;
    height: 0;
    transition: height 0.5s linear;
}

.ltreffect:hover::after {
    width: 100%;
}

.tbeffect:hover::after {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
}

.container {
    width: 80%;
    padding: 0;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 82.5px;
    box-shadow: 3px 2px 6px 2px gray;
}

.header .logo {
    width: 40%;
    float: left;
    height: 82.5px;
}

.header .logo img {
    width: 20%;
    margin-top: 15px;
}

.header .nav {
    width: 60%;
    float: right;
    padding: 0;
}

.header .nav>li {
    list-style: none;
    display: inline-block;
    margin: auto;
}

.header .nav>li>a {
    text-decoration: none;
    color: #333;
    padding: 24px 5px;
    display: block;
    font-size: 15px;
    transition: color 0.5s;
}

.header .nav>li>a:hover {
    color: #3498db;
}

.header .nav>li>a::after {
    content: "";
    height: 2px;
    width: 0;
    margin-top: 10px;
    background-color: #3498db;
    display: block;
    transition: width 0.5s;
}

.header .nav>li>a.active::after {
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background-color: #3498db;
    display: block;
    transition: width 0.5s;
}

.header .nav>li>a:hover::after {
    width: 100%;
}

.Dropdown {
    position: relative;
    transition: border-color 0.8s,left 0.8s,top 0.8s;
}
.Dropdown::after {
    content: "";
    /* border: 8px solid red; */
    border-color: transparent #333 transparent transparent;
    position: absolute;
    transition: all 0.3s linear;
}
.Dropdown:hover:after {
    position: absolute;
    
    left: 100%;
    top: 42%;
    border-width: 8px;
    border-style: solid;
    border-color: #3498db transparent transparent transparent;
}
.Dropdown-menu {
    background-color: #0051a8;
    width: 150px;
    height: 163px;
    position: absolute;
    left: -100%;
    top: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.Dropdown:hover .Dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.Dropdown-menu li {
    padding-top: 10px;
}

.Dropdown-menu li:hover {
    background-color: #000;
}

.Dropdown-menu li a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.home {
    height: 100vh;
    background-image: url("images/background/background1.webp");
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.title-home {
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
}

.desc-home {
    margin: 20px 0;
    color: #eee;
    letter-spacing: 2px;
    line-height: 1.8;
    font-family: "Times New Roman", Times, serif;
}

.home .btn {
    min-width: 200px;
    border: 1px solid #3498db;
    background: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.home .btn::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    background-color: #3498db;
    z-index: -1;
    transition: all 0.8s;
}

.btn-1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
    color: #3498db;
}

.btn-2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn-1:hover::before,
.btn-2:hover::before {
    height: 180%;
}

.btn-1:hover {
    color: #fff;
    font-weight: 500;
}

.btn-2:hover {
    font-weight: 500;
}

.home .btn-start {
    margin-right: 10px;
    background-color: #4545456b;
}

.home .btn-learn {
    color: #fff;
}

.home .btn-learn:hover {
    color: #000;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 30px 15px;
    height: 300px;
}

.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-top: 10px;
    transition: color 0.5s;
}

.about-item:hover .about-item-title {
    color: #fff;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color: #5d5d5d;
}

.about-item .about-btn {
    color: #0051a8;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 10px;
}

.portfolio {
    background-color: #f9f9f9;
}

.portfolio-item {
    width: 30%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.portfolio-item:hover .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.layer-content-title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.layer-content a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #0051a8;
    color: #fff;
    position: relative;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer-item .icon {
    color: #6195ff;
    position: absolute;
    left: 15px;
    top: 35px;
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.2s;
}

.offer-item:hover .offer-item-title {
    color: #fff;
}

.offer-item-desc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #5d5d5d;
}

.service {
    background-color: #fcfcfc;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;
}

.service-item .line {
    margin: 20px 0 80px 120px;
}

.service-item-desc {
    padding-right: 20px;
    color: #707070;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 20px;
}

.service-item-list {
    list-style: none;
}

.service-item-list li i {
    border: 1px solid #0051a8;
    color: #ccc;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
    font-weight: 800;
}

.service-item-list li i:hover {
    background-color: #0051a8;
}

.service-item-list li {
    margin-bottom: 10px;
    color: #707070;
}

.service-item-img {
    width: 100%;
}

.service-img img {
    opacity: 1;
    transition: opacity 0.5s;
}

.service-img:hover img {
    opacity: 0.8;
}

.service-bollets {
    list-style: none;
    text-align: center;
    margin: 10px 5px;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin-left: 10px;
}

.service-bollets li.active {
    background-color: #6195ff;
}

.service-bollets li:hover {
    background-color: #6195ff;
}

.number {
    position: relative;
    background-image: url("images/background/background2.webp");
    height: 300px;
    background-color: #0051a8;
    background-size: cover;
    background-attachment: fixed;
}

.number:hover .overlay {
    opacity: 0.8;
}

.number-items {
    /* background-color: white; */
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.number-item {
    float: left;
    width: 25%;
    text-align: center;
}

.number-item .icon {
    color: #3498db;
    margin-bottom: 15px;
}

.number-item-title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.number-item-desc {
    color: #fff;
}

.price-item {
    float: left;
    width: 30%;
    padding: 20px 10px;
    border: 1px solid #e8e8e8;
    text-align: center;
    transition-delay: 5s;
}

.price-item-text {
    color: #595959;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.5s;
    padding-top: 10px;
}

.price-item-money {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #0051a8;
    /* transition-delay: 0.6s; */
    transition: color 0.5s, padding 0.5s;
}

.price-item-money .doller {
    font-size: 40px;
    /* margin-bottom: -3px; */
}

.price-item-money .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.price-item-list {
    list-style: none;
}

.price-item-list li {
    margin: 20px 0;
    color: #595959;
    line-height: 1.5;
}

.price-item:hover .price-item-text {
    color: #6195ff;
}

.price-item:hover .price-item-money {
    padding: 15px;
    color: #fff;
}

.team-item {
    width: 30%;
    float: left;
    /* background-color: #e8e8e8; */
    padding: 40px 10px;
    text-align: center;
    transition: background-color 0.5s linear;
}

.team-iteam-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-iteam-img img {
    width: 100%;
    margin: auto;
}

.team-info-title {
    color: #222;
    margin: 10px 0;
    transition: color 0.3s;
}

.team-info-text {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s;
}

.team-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.3s;
}

.team-ite.tbeffect {
    z-index: 1;
}

.team-item:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item:hover .team-info-title {
    color: #fff;
}

.team-item:hover .team-info-text {
    color: #3498db;
}

.team-overlay a {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7ba7ff;
    text-align: center;
    display: block;
    line-height: 40px;
    margin-left: auto;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 9;
}

.arrow a {
    color: white;
    display: block;
    text-align: center;
    line-height: 50px;
}

.team.pd-y {
    padding: 0 0 120px 0;
}

.blog {
    background-color: #f8f8f8;
    position: relative;
}


.blog-item {
    width: 30%;
    float: left;
    background-color: #fff;
    transition: transform 0.8s;
}

.blog-item:hover {
    transform: scale(1.1);
}

.blog-item-img img {
    width: 100%;
    border-radius: 5px;
}

.blog-item:hover .blog-item-img {
    opacity: 0.8;
}

.blog-item-list {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
}

.blog-item-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-item-list li i {
    color: #6195ff;
}

.blog-item-title {
    font-weight: bold;
    margin: 20px 0;
}

.blog-item-desc {
    color: #999;
    margin-bottom: 20px;
    line-height: 1.6;
}

.blog-item-info {
    padding: 20px;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 60px 0;
}

.footer-list {
    list-style: none;
    margin-top: 10px;
}

.footer-list li {
    display: inline-block;
    margin: 0 5px;
}

.footer-list li i {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
}

.footer-desc {
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 3px;
    font-family: serif;
}

.made {
    color: #3498db;
    font-size: 17px;
}